{# purpose of this template: module configuration page #}
{% extends 'RKTeamModule::adminBase.html.twig' %}
{% block title __('Settings') %}
{% block admin_page_icon 'wrench' %}
{% block content %}
    <div class="rkteammodule-config">
        {% form_theme form with [
            '@RKTeamModule/Form/bootstrap_3.html.twig',
            'ZikulaFormExtensionBundle:Form:form_div_layout.html.twig'
        ] %}
        {{ form_start(form) }}
        <ul class="nav nav-pills">
        {% set tabTitle = __('List views') %}
        <li class="active" role="presentation">
            <a id="vars1Tab" href="#tab1" title="{{ tabTitle|e('html_attr') }}" role="tab" data-toggle="tab">{{ tabTitle }}</a>
        </li>
        {% set tabTitle = __('Images') %}
        <li class=" dropdown" role="presentation">
            <a id="imagesTabDrop" class="dropdown-toggle" href="#" data-toggle="dropdown" aria-controls="imagesTabDropSections" aria-expanded="false">{{ tabTitle }}<span class="caret"></span></a>
            <ul id="imagesTabDropSections" class="dropdown-menu" aria-labelledby="imagesTabDrop">
            <li>
                <a id="imagesPersonTeamMemberImageTab" href="#tabImagesPersonTeamMemberImage" role="tab" data-toggle="tab" aria-controls="tabImagesPersonTeamMemberImage">Persons team member image</a>
            </li>
            </ul>
        </li>
        </ul>

        {{ form_errors(form) }}
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="tab1" aria-labelledby="vars1Tab">
                {% set tabTitle = __('List views') %}
                <fieldset>
                    <legend>{{ tabTitle }}</legend>
                
                    <p class="alert alert-info">{{ __('Here you can configure parameters for list views.')|nl2br }}</p>
                
                    {{ form_row(form.personEntriesPerPage) }}
                    {{ form_row(form.linkOwnPersonsOnAccountPage) }}
                </fieldset>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="tabImagesPersonTeamMemberImage" aria-labelledby="imagesPersonTeamMemberImageTab">
                {% set tabTitle = __('Image settings for persons team member image') %}
                <fieldset>
                    <legend>{{ tabTitle }}</legend>
            
                    {{ form_row(form.enableShrinkingForPersonTeamMemberImage) }}
                    <div id="shrinkDetailsPersonTeamMemberImage">
                    {{ form_row(form.shrinkWidthPersonTeamMemberImage) }}
                    {{ form_row(form.shrinkHeightPersonTeamMemberImage) }}
                    </div>
                    {{ form_row(form.thumbnailModePersonTeamMemberImage) }}
                    {{ form_row(form.thumbnailWidthPersonTeamMemberImageView) }}
                    {{ form_row(form.thumbnailHeightPersonTeamMemberImageView) }}
                    {{ form_row(form.thumbnailWidthPersonTeamMemberImageDisplay) }}
                    {{ form_row(form.thumbnailHeightPersonTeamMemberImageDisplay) }}
                    {{ form_row(form.thumbnailWidthPersonTeamMemberImageEdit) }}
                    {{ form_row(form.thumbnailHeightPersonTeamMemberImageEdit) }}
                </fieldset>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                {{ form_widget(form.save) }}
                {{ form_widget(form.cancel) }}
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
{% block footer %}
    {{ parent() }}
    {{ pageAddAsset('javascript', zasset('@RKTeamModule:js/RKTeamModule.Config.js')) }}
{% endblock %}
