{# Purpose of this template: Display item information for previewing from other modules #}
<dl id="person{{ person.id }}">
<dt>{{ person.getTitleFromDisplayPattern()|notifyFilters('team.filter_hooks.persons.filter') }}</dt>
<dd>{% if person.teamMemberImage is not empty and person.teamMemberImageMeta|default %}
            <a href="{{ person.teamMemberImageUrl }}" title="{{ person.getTitleFromDisplayPattern()|e('html_attr') }}"{% if person.teamMemberImageMeta.isImage %} class="image-link"{% endif %}>
{% if person.teamMemberImageMeta.isImage %}
    {% set thumbOptions = attribute(thumbRuntimeOptions, 'personTeamMemberImage') %}
    <img src="{{ person.teamMemberImage.getPathname()|imagine_filter('zkroot', thumbOptions) }}" alt="{{ person.getTitleFromDisplayPattern()|e('html_attr') }}" width="{{ thumbOptions.thumbnail.size[0] }}" height="{{ thumbOptions.thumbnail.size[1] }}" class="img-thumbnail" />
{% else %}
    {{ __('Download') }} ({{ person.teamMemberImageMeta.size|rkteammodule_fileSize(person.teamMemberImage.getPathname(), false, false) }})
{% endif %}
</a>
{% else %}&nbsp;{% endif %}
</dd>
{% if person.teamMemberDescription is not empty %}<dd>{{ person.teamMemberDescription }}</dd>{% endif %}
</dl>
