{# purpose of this template: persons display view #}
{% set baseTemplate = app.request.query.getBoolean('raw', false) ? 'raw' : (routeArea == 'admin' ? 'adminBase' : 'base') %}
{% extends 'RKTeamModule::' ~ baseTemplate ~ '.html.twig' %}
{% block pageTitle %}{{ person.getTitleFromDisplayPattern()|default(__('Person')) }}{% endblock %}
{% block title %}
    {% set templateTitle = person.getTitleFromDisplayPattern()|default(__('Person')) %}
    {{ templateTitle|notifyFilters('rkteammodule.filter_hooks.persons.filter') }}{% if routeArea == 'admin' %} <small>({{ person.workflowState|rkteammodule_objectState(false)|lower }})</small>{% endif %}
    {% set itemActions = knp_menu_get('RKTeamModule:ItemActionsMenu:menu', [], { entity: person, area: routeArea, context: 'display' }) %}
    <div class="dropdown">
        <a id="itemActions{{ person.id }}DropDownToggle" role="button" data-toggle="dropdown" data-target="#" href="javascript:void(0);" class="hidden dropdown-toggle"><i class="fa fa-tasks"></i> {{ __('Actions') }} <span class="caret"></span></a>
        {{ knp_menu_render(itemActions, { template: 'ZikulaMenuModule:Override:actions.html.twig' }) }}
    </div>
{% endblock %}
{% block admin_page_icon 'eye' %}
{% block content %}
    {% set isQuickView = app.request.query.getBoolean('raw', false) %}
    <div class="rkteammodule-person rkteammodule-display">


    <dl>
        {% if person.workflowState is not empty and routeArea == 'admin' %}
            <dt>{{ __('State') }}</dt>
            <dd>{{ person.workflowState|rkteammodule_listEntry('person', 'workflowState') }}</dd>
        {% endif %}
        {% if person.lastName is not empty %}
            <dt>{{ __('Last name') }}</dt>
            <dd>{{ person.lastName }}</dd>
        {% endif %}
        {% if person.firstName is not empty %}
            <dt>{{ __('First name') }}</dt>
            <dd>{{ person.firstName }}</dd>
        {% endif %}
        {% if person.teamMemberImage is not empty %}
            <dt>{{ __('Team member image') }}</dt>
            <dd>{% if person.teamMemberImage is not empty and person.teamMemberImageMeta|default %}
                        <a href="{{ person.teamMemberImageUrl }}" title="{{ person.getTitleFromDisplayPattern()|e('html_attr') }}"{% if person.teamMemberImageMeta.isImage %} class="image-link"{% endif %}>
            {% if person.teamMemberImageMeta.isImage %}
                {% set thumbOptions = attribute(thumbRuntimeOptions, 'personTeamMemberImage') %}
                <img src="{{ person.teamMemberImage.getPathname()|imagine_filter('zkroot', thumbOptions) }}" alt="{{ person.getTitleFromDisplayPattern()|e('html_attr') }}" width="{{ thumbOptions.thumbnail.size[0] }}" height="{{ thumbOptions.thumbnail.size[1] }}" class="img-thumbnail" />
            {% else %}
                {{ __('Download') }} ({{ person.teamMemberImageMeta.size|rkteammodule_fileSize(person.teamMemberImage.getPathname(), false, false) }})
            {% endif %}
            </a>
            {% else %}&nbsp;{% endif %}
            </dd>
        {% endif %}
        {% if person.teamMemberFunction is not empty %}
            <dt>{{ __('Team member function') }}</dt>
            <dd>{{ person.teamMemberFunction }}</dd>
        {% endif %}
        {% if person.teamMemberDescription is not empty %}
            <dt>{{ __('Team member description') }}</dt>
            <dd>{{ person.teamMemberDescription|safeHtml }}</dd>
        {% endif %}
        {% if person.phoneNumber is not empty %}
            <dt>{{ __('Phone number') }}</dt>
            <dd>{{ person.phoneNumber }}</dd>
        {% endif %}
        {% if person.mobileNumber is not empty %}
            <dt>{{ __('Mobile number') }}</dt>
            <dd>{{ person.mobileNumber }}</dd>
        {% endif %}
        {% if person.personEmailAddress is not empty %}
            <dt>{{ __('Person email address') }}</dt>
            <dd>{% if person.personEmailAddress is not empty %}
            {% if not isQuickView %}
            <a href="mailto:{{ person.personEmailAddress|protectMail }}" title="{{ __('Send an email') }}" class="fa fa-envelope"></a>
            {% else %}
                {{ person.personEmailAddress|protectMail }}
            {% endif %}
            {% else %}&nbsp;{% endif %}
            </dd>
        {% endif %}
        {% if person.personAddress is not empty %}
            <dt>{{ __('Person address') }}</dt>
            <dd>{{ person.personAddress|safeHtml }}</dd>
        {% endif %}
        {% if person.registeredUser is not empty %}
            <dt>{{ __('Registered user') }}</dt>
            <dd>{% if person.registeredUser|default and person.registeredUser.getUid() > 0 %}
            {% if not isQuickView %}
                {{ person.registeredUser.getUid()|profileLinkByUserId() }}{% if currentUser.loggedIn %}{% set sendMessageUrl = person.registeredUser.getUid()|messageSendLink(urlOnly=true) %}{% if sendMessageUrl != '#' %}<a href="{{ sendMessageUrl }}" title="{{ __f('Send private message to %userName%', { '%userName%': person.registeredUser.getUname() }) }}"><i class="fa fa-envelope-o"></i></a>{% endif %}{% endif %}
                <span class="avatar">{{ rkteammodule_userAvatar(person.registeredUser.getUid(), rating='g') }}</span>
            {% else %}
                {{ person.registeredUser.getUname() }}
            {% endif %}
            {% else %}&nbsp;{% endif %}
            </dd>
        {% endif %}
        
    </dl>
    {{ include('@RKTeamModule/Helper/includeStandardFieldsDisplay.html.twig', { obj: person }) }}

    {% if not isQuickView %}
        {# include display hooks #}
        {{ block('display_hooks') }}
    {% endif %}
</div>
{% endblock %}
{% block display_hooks %}
    {% set hooks = notifyDisplayHooks(eventName='rkteammodule.ui_hooks.persons.display_view', id=person.id, urlObject=currentUrlObject) %}
    {% for providerArea, hook in hooks if providerArea != 'provider.scribite.ui_hooks.editor' %}
        {{ hook }}
    {% endfor %}
{% endblock %}
